body {
  margin: 0;
  padding: 0;
  background-color: #344955;
}

.computer {
  position: relative;
}
.computer img {
  height: 730px;
  width: 1500px;
  filter: brightness(40%);
  object-fit: cover;
}

.container {
  position: absolute;
  height: 650px;
  max-width: auto;
  top: 0px;
  left: 3.5rem;
  color: white;
}
.container .row {
  justify-content: center;
}
.container .row #promote, .container .row #dev, .container .row #course, .container .row #start {
  position: absolute;
  display: flex;
  top: 5rem;
}
.container .row #promote {
  top: 5rem;
}
.container .row #promote h3 {
  font-weight: bolder;
}
.container .row #dev {
  top: 8rem;
}
.container .row #dev h1 {
  font-size: 5rem;
  font-weight: bolder;
}
.container .row #dev span {
  color: #E9900C;
}
.container .row #course {
  top: 18rem;
}
.container .row #course h2 {
  font-weight: bolder;
}
.container .row #start {
  background-color: #E9900C;
  color: white;
  border-radius: 10rem;
  width: 20rem;
  padding: 1rem;
  align-content: center;
  top: 24rem;
}
.container .row #row2 {
  position: absolute;
  top: 32rem;
}
.container .row #content, .container .row #duration, .container .row #access {
  border-right: 2px solid lightgray;
}
.container .row #content h4, .container .row #duration h4, .container .row #access h4 {
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}
.container .row #content .content2, .container .row #content .duration2, .container .row #content .access2, .container .row #duration .content2, .container .row #duration .duration2, .container .row #duration .access2, .container .row #access .content2, .container .row #access .duration2, .container .row #access .access2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  opacity: 80%;
}
.container .row #content .content2 svg, .container .row #content .duration2 svg, .container .row #content .access2 svg, .container .row #duration .content2 svg, .container .row #duration .duration2 svg, .container .row #duration .access2 svg, .container .row #access .content2 svg, .container .row #access .duration2 svg, .container .row #access .access2 svg {
  transform: scale(1.5);
}
.container .row #content .content2 h4, .container .row #content .duration2 h4, .container .row #content .access2 h4, .container .row #duration .content2 h4, .container .row #duration .duration2 h4, .container .row #duration .access2 h4, .container .row #access .content2 h4, .container .row #access .duration2 h4, .container .row #access .access2 h4 {
  font-weight: 400;
}
.container .row #access {
  border: none;
}

#footer {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0px 30px 0px;
  background-color: #344955;
  text-align: center;
  color: #FFF;
}

@media (max-width: 1000px) {
  .computer img {
    width: 1000px;
  }
  .container {
    left: 9rem;
  }
  .container .row #dev h1 {
    font-size: 4.5rem;
  }
  #footer h5 {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .computer img {
    width: 500px;
  }
  .container {
    left: 1rem;
  }
  .container .row #promote h3 {
    font-size: 1.3rem;
  }
  .container .row #dev h1 {
    font-size: 3.5rem;
  }
  .container .row #course h2 {
    font-size: 0.9rem;
  }
  .container .row #start {
    width: 15rem;
    padding: 0.3rem;
  }
  .container .row #content h4, .container .row #duration h4, .container .row #access h4 {
    padding: 0px 5px 0px 5px;
    font-size: 13px;
  }
  .container .row #content .content2 svg, .container .row #content .duration2 svg, .container .row #content .access2 svg, .container .row #duration .content2 svg, .container .row #duration .duration2 svg, .container .row #duration .access2 svg, .container .row #access .content2 svg, .container .row #access .duration2 svg, .container .row #access .access2 svg {
    transform: scale(1);
  }
  .container .row #content .content2 h4, .container .row #content .duration2 h4, .container .row #content .access2 h4, .container .row #duration .content2 h4, .container .row #duration .duration2 h4, .container .row #duration .access2 h4, .container .row #access .content2 h4, .container .row #access .duration2 h4, .container .row #access .access2 h4 {
    font-weight: 400;
  }
  #footer h5 {
    font-size: 10px;
  }
  #footer #tutor {
    margin-left: 20px;
    margin-right: -20px;
  }
}

/*# sourceMappingURL=style.css.map */
