body {
    margin: 0;
    background-color: #344955;
}
.computer {
    position:relative;
    img {
        height: 650px;
        width: 1500px;
        filter:brightness(40%);
        object-fit: cover;
    }
}
.container {
    position:absolute;
    height: 650px;
    max-width: auto;
    top: 0px;
    left: 3.5rem;
    color: white;
    .row {
        justify-content: center;
        #promote, #dev, #course, #start {
            position:absolute;
            display:flex;
            top: 5rem;
        }
        #promote {
            top: 5rem;
            h3 {
                font-weight: bolder;
            }
        }
        #dev {
            top: 8rem;
            h1 {
                font-size: 5rem;
                font-weight: bolder;
            }
            span {
                color:#E9900C;
            }
        }
        #course {
            top: 18rem;
            h2 {
                font-weight: bolder;
            }
        }
        #start {
            background-color: #E9900C;
            color:white;
            border-radius: 10rem;
            width: 20rem;
            padding: 1rem;
            align-content: center;
            top: 24rem;
        }
        #row2 {
            position: absolute;
            top:32rem;  
        }
        #content, #duration, #access {
            border-right: 2px solid lightgray;
            h4 {
                display:flex;
                justify-content: center;
                padding: 5px 10px 5px 10px;
                font-weight: bold;
            }
            .content2, .duration2, .access2 {
                display:flex;
                justify-content: center;
                align-items: baseline;
                opacity: 80%;
                svg {
                    transform: scale(1.5);
                }
                h4 {
                    font-weight:400;
                }
            }
        }
        #access {
            border:none;
        }
    }
}
#footer {
    display:flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
    background-color: #344955; 
    text-align: center;
    color:#FFF;
}

