body {
    margin: 0;
    padding:0;
    background-color: #344955;
}
.computer {
    position:relative;
    img {
        height: 730px;
        width: 1500px;
        filter:brightness(40%);
        object-fit: cover;
    }
}
.container {
    position:absolute;
    height: 650px;
    max-width: auto;
    top: 0px;
    left: 3.5rem;
    color: white;
    .row {
        justify-content: center;
        #promote, #dev, #course, #start {
            position:absolute;
            display:flex;
            top: 5rem;
        }
        #promote {
            top: 5rem;
            h3 {
                font-weight: bolder;
            }
        }
        #dev {
            top: 8rem;
            h1 {
                font-size: 5rem;
                font-weight: bolder;
            }
            span {
                color:#E9900C;
            }
        }
        #course {
            top: 18rem;
            h2 {
                font-weight: bolder;
            }
        }
        #start {
            background-color: #E9900C;
            color:white;
            border-radius: 10rem;
            width: 20rem;
            padding: 1rem;
            align-content: center;
            top: 24rem;
        }
        #row2 {
            position: absolute;
            top:32rem;  
        }
        #content, #duration, #access {
            border-right: 2px solid lightgray;
            h4 {
                display:flex;
                justify-content: center;
                padding: 5px 10px 5px 10px;
                font-weight: bold;
            }
            .content2, .duration2, .access2 {
                display:flex;
                justify-content: center;
                align-items: baseline;
                opacity: 80%;
                svg {
                    transform: scale(1.5);
                }
                h4 {
                    font-weight:400;
                }
            }
        }
        #access {
            border:none;
        }
    }
}
#footer {
    display:flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
    background-color: #344955; 
    text-align: center;
    color:#FFF;
}

@media (max-width:1000px) {
    .computer {
        img {
            width: 1000px;
        }
    }
    .container {
        left: 9rem;
        .row {
            #dev {
                h1{
                    font-size: 4.5rem;
                }
            }
        }
    }
    #footer {
        h5 {
            font-size: 15px;
        }
    }
}
@media (max-width:576px) {
    .computer {
        img {
            width: 500px;
        }
    }
    .container {
        left: 1rem;
        .row {
            #promote {
                h3{
                    font-size: 1.3rem;
                }
                
            }
            #dev {
                h1{
                    font-size: 3.5rem;
                }
            }
            #course {
                h2 {
                    font-size: .9rem;
                }
            }
            #start {
                width: 15rem;
                padding: .3rem;
            }
            #content, #duration, #access {
                h4 {
                    padding: 0px 5px 0px 5px;
                    font-size: 13px;
                }
                .content2, .duration2, .access2 {
                    svg {
                        transform: scale(1);
                    }
                    h4 {
                        font-weight:400;
                    }
                }
            }
        }
    }
    #footer {
        h5 {
            font-size: 10px;
        }
        #tutor {
            margin-left: 20px;
            margin-right: -20px;
        }
    }
}